<ul class="authors-list" role="list">
    <li>
        <div class="author-row">
            <img src="https://avatars.githubusercontent.com/u/46904988?v=4" class="author-avatar" alt="" loading="lazy" width="56" height="56">
            <div class="author-meta">
                <span class="author-name">poi</span>
                <span class="author-role">Руководитель проекта, front-end</span>
                <ul class="author-socials" role="list">
                    <li><a href="https://vk.com/itsmlg" target="_blank" rel="noopener noreferrer" aria-label="poi во ВКонтакте">VK</a></li>
                    <li><a href="https://t.me/PerpetuaPetua" target="_blank" rel="noopener noreferrer" aria-label="poi в Telegram">Telegram</a></li>
                    <li><a href="https://github.com/somepoi" target="_blank" rel="noopener noreferrer" aria-label="poi на GitHub">GitHub</a></li>
                </ul>
            </div>
        </div>
    </li>
    <li>
        <div class="author-row">
            <img src="https://avatars.githubusercontent.com/u/75435098?v=4" class="author-avatar" alt="" loading="lazy" width="56" height="56">
            <div class="author-meta">
                <span class="author-name">Степан Купряшин</span>
                <span class="author-role">Главный спонсор, back-end, работа с сервером</span>
                <ul class="author-socials" role="list">
                    <li><a href="https://vk.com/banderak" target="_blank" rel="noopener noreferrer" aria-label="Степан Купряшин во ВКонтакте">VK</a></li>
                    <li><a href="https://t.me/kupryashin_s" target="_blank" rel="noopener noreferrer" aria-label="Степан Купряшин в Telegram">Telegram</a></li>
                    <li><a href="https://github.com/StepanKupryashin" target="_blank" rel="noopener noreferrer" aria-label="Степан Купряшин на GitHub">GitHub</a></li>
                </ul>
            </div>
        </div>
    </li>
    <li>
        <div class="author-row">
            <img src="https://avatars.githubusercontent.com/u/139561770?v=4" class="author-avatar" alt="" loading="lazy" width="56" height="56">
            <div class="author-meta">
                <span class="author-name">140 kilograms of sex</span>
                <span class="author-role">Full-stack</span>
                <ul class="author-socials" role="list">
                    <li><a href="https://vk.com/ohfkgsofsex" target="_blank" rel="noopener noreferrer" aria-label="140 kilograms of sex во ВКонтакте">VK</a></li>
                    <li><a href="https://t.me/ohfkgsofsex" target="_blank" rel="noopener noreferrer" aria-label="140 kilograms of sex в Telegram">Telegram</a></li>
                    <li><a href="https://github.com/ohfkgsofsex" target="_blank" rel="noopener noreferrer" aria-label="140 kilograms of sex на GitHub">GitHub</a></li>
                </ul>
            </div>
        </div>
    </li>
</ul>
