<ul class="authors-list" role="list">
    <li>
        <div class="author-row">
            <img src="https://avatars.githubusercontent.com/u/46904988?v=4" class="author-avatar">
            <span class="author-name">poi</span>
            <span class="author-role">Руководитель проекта, front-end</span>
            <span class="author-links">
                <a href="https://vk.com/itsmlg">VK</a>, <a href="https://t.me/PerpetuaPetua">Telegram</a>, <a href="https://github.com/somepoi">GitHub</a>
            </span>
        </div>
    </li>
    <li>
        <div class="author-row">
            <img src="https://avatars.githubusercontent.com/u/75435098?v=4" class="author-avatar">
            <span class="author-name">Степан Купряшин</span>
            <span class="author-role">Главный спонсор, back-end, работа с сервером</span>
            <span class="author-links">
                <a href="https://vk.com/banderak">VK</a>, <a href="https://t.me/kupryashin_s">Telegram</a>, <a href="https://github.com/StepanKupryashin">GitHub</a>
            </span>
        </div>
    </li>
    <li>
        <div class="author-row">
            <img src="https://avatars.githubusercontent.com/u/139561770?v=4" class="author-avatar">
            <span class="author-name">140 kilograms of sex</span>
            <span class="author-role">Full-stack</span>
            <span class="author-links">
                <a href="https://vk.com/ohfkgsofsex">VK</a>, <a href="https://t.me/ohfkgsofsex">Telegram</a>, <a href="https://github.com/ohfkgsofsex">GitHub</a>
            </span>
        </div>
    </li>
</ul>
