<ul class="authors-list" role="list">
    <li>
        <div class="author-row">
            <span class="author-name">poi</span>
            <span class="author-role">Что-то делал</span>
        </div>
    </li>
    <li>
        <div class="author-row">
            <span class="author-name">140 kilograms of sex</span>
            <span class="author-role">Купил себе крутые кроссы</span>
        </div>
    </li>
    <li>
        <div class="author-row">
            <span class="author-name">СТЕПАН4ик</span>
            <span class="author-role">Maintaining this shit show</span>
        </div>
    </li>
</ul>
