<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{title} — ES Doc</title>
        <link rel="stylesheet" href="/resources/css/main.css">
        <link rel="icon" href="/favicon.webp">
    </head>

    <body>
        <div class="container">
            <h1>Авторы проекта</h1>

            <div class="authors">

                <div class="author">
                    <div class="author-name">poi</div>
                    <div class="author-role">Что-то делал</div>
                </div>

                <div class="author">
                    <div class="author-name">140 kilograms of sex</div>
                    <div class="author-role">Купил себе крутые кроссы</div>
                </div>

                <div class="author">
                    <div class="author-name">Автор</div>
                    <div class="author-role">Роль</div>
                </div>

            </div>
        </div>
    </body>
</html>