.nav {
  &-icon {
    &-btn {
      cursor: pointer;
      display: inline-flex;
      font-size: 1.05rem;
      line-height: 1;
      border-radius: 0.5rem;
      padding: 0.5rem;
      background-color: rgb(241, 245, 249);

      &:hover {
        background-color: rgb(226, 232, 240);
      }
    }
  }
}
